In [44]:
import pandas as pd

In [45]:
train=pd.read_csv("excel_train.csv")
train.head()

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,1,0,3,7.2500,22,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,71.2833,38,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,7.9250,26,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,1,53.1000,35,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,3,8.0500,35,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
test=pd.read_csv("excel_test.csv")
test.head()

,PassengerId,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,Cabin M,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,892,3,7.8292,35,1,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,893,3,7.0000,47,2,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,894,2,9.6875,62,1,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,895,3,8.6625,27,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,896,3,12.2875,22,3,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [47]:
validation=pd.read_csv("excel_validation.csv")
validation.head()

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,8,0,3,21.075,2,5,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,13,0,3,8.050,20,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,14,0,3,31.275,39,7,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,18,1,2,13.000,31,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,22,1,2,13.000,34,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
X_train = train.drop(['PassengerId','Survived',],axis=1)

In [49]:
y_train = train['Survived']

In [50]:
X_val = validation.drop(['PassengerId','Survived'],axis=1)

In [51]:
y_val = validation['Survived']

In [52]:
y_val

0      0
1      0
2      0
3      1
4      1
      ..
153    1
154    1
155    1
156    0
157    1
Name: Survived, Length: 158, dtype: int64

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
logModel = LogisticRegression(solver='lbfgs', max_iter=1000)

In [55]:
logModel.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [56]:
logModel.score(X_train,y_train)

0.844474761255116

In [57]:
logModel.coef_

array([[-0.99740331,  0.00251293, -0.03162982, -0.44265102, -1.26319276,
        -0.30621695, -0.23070506,  0.13543948, -0.56186178, -0.07617008,
         0.87526772, -0.32359516,  0.51502709,  0.06303146, -0.14154175,
         0.02090639, -1.59691769,  0.9104103 ,  0.02722305,  1.44857479,
        -0.78452232,  0.10887906, -0.33181537, -0.06278888, -0.08247026,
         0.34796905,  0.12017287, -0.30065357, -0.07268298, -0.37731834,
        -0.29775099, -0.77282255, -0.19982664, -0.59646226,  1.47416479,
         0.8113161 , -0.16144816,  0.55284286,  1.31425566, -0.18160264,
         0.10942902,  0.04453018, -0.25740967, -0.35910454, -0.04744712]])

In [58]:
logModel.intercept_

array([5.68974117])

Evaluation of Validation

In [59]:
X_val.head()

,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,Cabin M,Cabin C,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,3,21.075,2,5,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3,8.050,20,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,31.275,39,7,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2,13.000,31,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2,13.000,34,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
y_val_pred = logModel.predict(X_val)

In [61]:
print(y_val_pred)

[0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 1 0 0 1 0 1 1 1 0 0 0 1 0 0 0
 0 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 1 0 1 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 1 0 1
 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1 0 1 1 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 0
 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 0 0 0 0
 0 0 0 0 1 1 1 1 0 1]

In [62]:
from sklearn.metrics import classification_report

In [63]:
print(classification_report(y_val,y_val_pred))

              precision    recall  f1-score   support

           0       0.89      0.87      0.88        99
           1       0.79      0.81      0.80        59

    accuracy                           0.85       158
   macro avg       0.84      0.84      0.84       158
weighted avg       0.85      0.85      0.85       158

Evaluation of Test

In [64]:
X_test = test.drop(['PassengerId'],axis=1)

In [65]:
y_test_pred = logModel.predict(X_test).astype(int)

In [66]:
AllSub = pd.DataFrame({'PassengerId': test['PassengerId'],
                      'Survived' : y_test_pred})

In [67]:
AllSub.to_csv("All_Var_Video_Logistic.csv",index=False)