In [67]:
import pandas as pd

In [68]:
train=pd.read_csv("excel_train.csv")
train.head()

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,1,0,3,7.2500,22,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,71.2833,38,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,7.9250,26,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,1,53.1000,35,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,3,8.0500,35,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
test=pd.read_csv("excel_test.csv")
test.head()

,PassengerId,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,Cabin M,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,892,3,7.8292,35,1,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,893,3,7.0000,47,2,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,894,2,9.6875,62,1,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,895,3,8.6625,27,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,896,3,12.2875,22,3,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [70]:
validation=pd.read_csv("excel_validation.csv")
validation.head()

,PassengerId,Survived,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,8,0,3,21.075,2,5,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,13,0,3,8.050,20,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,14,0,3,31.275,39,7,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,18,1,2,13.000,31,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,22,1,2,13.000,34,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
X_train = train.drop(['PassengerId','Survived',],axis=1)

In [72]:
y_train = train['Survived']

In [73]:
X_val = validation.drop(['PassengerId','Survived'],axis=1)

In [74]:
y_val = validation['Survived']

In [75]:
y_val

0      0
1      0
2      0
3      1
4      1
      ..
153    1
154    1
155    1
156    0
157    1
Name: Survived, Length: 158, dtype: int64

In [76]:
from sklearn.tree import DecisionTreeClassifier

In [77]:
treeModel = DecisionTreeClassifier()

In [78]:
treeModel.fit(X_train, y_train)

DecisionTreeClassifier()

In [79]:
treeModel.score(X_train,y_train)

0.9918144611186903

In [82]:
X_train

,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,Cabin M,Cabin C,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,3,7.2500,22,2,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,71.2833,38,2,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,7.9250,26,1,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,53.1000,35,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,3,8.0500,35,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,2,13.0000,27,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
729,1,30.0000,19,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
730,3,23.4500,22,4,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
731,1,30.0000,26,1,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
732,3,7.7500,32,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
best_feat = pd.DataFrame({'Features': X_train.columns,'Importance': treeModel.feature_importances_})
best_feat.sort_values('Importance',ascending=False)

           Features  Importance
16         Title Mr    0.315567
1            Fare_1    0.225361
2             Age_1    0.189521
0            Pclass    0.072841
20   Ticket Royalty    0.030506
3            Family    0.029815
12          Cabin D    0.026901
8           Cabin M    0.017157
24      Ticket xxx     0.015266
7        Embarked C    0.011504
38     Ticket SWPP     0.009883
6        Embarked S    0.009222
18       Title Miss    0.006760
34    Ticket STONO     0.006178
5          Is Alone    0.004909
19     Title Master    0.004712
13          Cabin A    0.004712
10          Cabin E    0.003927
31       Ticket WC     0.003398
9           Cabin C    0.002454
23   Ticket STONO2     0.002207
35        Ticket C     0.002072
32  Ticket SOTONOQ     0.001899
21       Ticket A5     0.001403
41     Ticket SCAH     0.000982
4             Sex_1    0.000841
40       Ticket SC     0.000000
39      Ticket PPP     0.000000
33      Ticket WEP     0.000000
37      Ticket FCC     0.000000
36      Ticket LINE    0.000000
42     Ticket SOPP     0.000000
43       Ticket FC     0.000000
22       Ticket PC     0.000000
30      Ticket SOC     0.000000
29       Ticket A4     0.000000
28     Ticket SCA4     0.000000
27  Ticket SCParis     0.000000
26       Ticket CA     0.000000
25       Ticket PP     0.000000
17        Title Mrs    0.000000
15          Cabin F    0.000000
14          Cabin B    0.000000
11          Cabin G    0.000000
44  Ticket SOTONO2     0.000000

In [85]:
treeModel.criterion

'gini'

Evaluation of Validation

In [39]:
X_val.head()

,Pclass,Fare_1,Age_1,Family,Sex_1,Is Alone,Embarked S,Embarked C,Cabin M,Cabin C,...,Ticket C,Ticket LINE,Ticket FCC,Ticket SWPP,Ticket PPP,Ticket SC,Ticket SCAH,Ticket SOPP,Ticket FC,Ticket SOTONO2
0,3,21.075,2,5,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3,8.050,20,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,31.275,39,7,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2,13.000,31,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2,13.000,34,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
y_val_pred = treeModel.predict(X_val)

In [87]:
print(y_val_pred)

[1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 0 1 0 1 0
 0 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 1 0 1 1 1 1 0 0 0 0 0 1 0 1 1 1 0 0 1 0 0
 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 0
 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 0 0 0
 0 0 0 1 0 1 1 1 0 1]

In [88]:
from sklearn.metrics import classification_report

In [89]:
print(classification_report(y_val,y_val_pred))

              precision    recall  f1-score   support

           0       0.84      0.77      0.80        99
           1       0.66      0.76      0.71        59

    accuracy                           0.77       158
   macro avg       0.75      0.77      0.76       158
weighted avg       0.78      0.77      0.77       158

Evaluation of Test

In [92]:
X_test = test.drop(['PassengerId'],axis=1)

In [93]:
y_test_pred = treeModel.predict(X_test).astype(int)

In [94]:
AllSub = pd.DataFrame({'PassengerId': test['PassengerId'],
                      'Survived' : y_test_pred})

In [95]:
AllSub.to_csv("All_Var_Video_Decision_tree.csv",index=False)